* {
  box-sizing: border-box;
}
body {
  text-align: center;
 
}
.fixed-Y {
  position: fixed;
}

body.display-state {
  min-height: 1500px;
}

header {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  justify-content:space-between;
  width: 100vw;
  align-items: center;

}
header img {
  max-width: 10vw; 
}
h1 {
  margin: 0 auto 0 auto;
  font-size: 6em;
}
h4 {
  margin: .5rem auto;
  font-size: 1.5em;
}
main {
  /* position: relative;
  top: 40vh; */
  display: flex;
  flex-flow: column nowrap;
  width: 80vw;
  margin: 0 auto;
}

main.fixed {
  position: fixed;
  z-index: 2;
  max-width: 33vw;
  left: 0;
  top: 5vh;
}
.icon-bar {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: rgb(254, 250, 224);
  min-height: 40px;
  padding-top: .2em;
}
.icon-bar > span, i {
  padding: .5em;

}
#date {
  display: inline-block;
  min-width: 200px;
}

.fas {
  border: 1px solid black;
  padding: 3px;
  border-radius: 48%;
  filter: brightness(40%);
  margin: 0 .2em;
} 

.fa-sun { 
  color: #FCF300;
  background-color: #a2d6f9ec; 
  
}

.fa-moon {
  color: #edf2f4;
  background-color: #457b9d ;
}

i.activated {
  filter: brightness(110%);
}
.spacer {
  /* display: inline-block; */
  min-height: 20px;
  flex: 2 0 100%;
  background-color: #DDA15E;
}

#hectare {
  min-width: 80px;
  padding: .5em .8em .5em 0;
}



button:hover {
  cursor: pointer;
}

button {
  min-height: 25px;
  z-index: 1;
}
#story-area {
  padding-top: 2%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  transition: height 1.5s ease-in;  /* not really happening, is it? */
  background-color: rgb(254, 250, 224, 0.9);
}

#story-area p {
  flex: 0 auto;
  margin: 5px;
  transition: opacity .75s ease-in;
  -moz-transition: opacity 1.5s ease-in;
  -o-transition: opacity 1.5s ease-in;
}

.hiddenText {
  opacity: 0;
}
.map-view {
  position: relative;
  /* top: 300px; */
  display: grid;
  grid-template-columns: repeat(42, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 4200px;
  height: 900px;
  border: 1px dotted black;
  margin: 0 33vw;
  background-size: cover;
  transition: opacity 2s ease 1.5s;
  /* opacity: 1; */
  background-image: url(Public/central-park-mapFULL.png);
  z-index: 1;
}

.map-view > div {
  padding-top: 50%;
  font-size: 14px;
  border: 1px dotted lightgray;
  color: rgb(57, 57, 58, 0.80 );
  opacity: 10%;
  cursor: pointer;
}



.map-view > div.activated-grid {
  background-color: #f48c06;
  opacity: 60%;
  border: 2px groove sienna;
  color: white;
  transition: opacity 2s ease 1s;
}

#about {
  display: flex;
  flex-flow: column nowrap;
  margin: 4em auto 0;
  justify-content:space-between;
  
  max-width: 80vw;
}

#about h3 {
  margin-bottom: .2em;
}

a:link, a:visited {
  color: #638B95;  
}
a:active {
  font-size: 1.05em;
  color: linear-gradient(red, yellow); 
}

@media screen and (max-width: 800px) {
   
  .map-view {
    /* display: none;   Broken by JS in-line styling */ 
    overflow: hidden;
  }
  #map-context {
    display: none;
  }

  main.fixed {
    position: fixed;
    z-index: 2;
    max-width: 100%;
  }
} 