* {
  box-sizing: border-box;
}

body {
  text-align: center;
  border: 1px dotted black;
  margin: 1rem;
}

#story-area {
  padding-top: 2%;
  margin: 0 auto;
  border: 1px dotted black;
  display: flex;
  flex-flow: column nowrap;
}

#story-area p {
  flex: 0 auto;
  margin: 5px;
  transition: opacity 1.5s ease-in;
  -moz-transition: opacity 1.5s ease-in;
  -o-transition: opacity 1.5s ease-in;
}

.hidden {
  opacity: 0;
}

#map-view {
  width: 600px;
  height: 250px;
  border: 1px dotted black;
  margin: 0 auto;
}

@media screen and (max-width: 620px) {

} 